* {
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
}


.active-router-sty {
  position: relative;
}

.active-router-sty:hover {
  opacity: .64;
  background-color: transparent;
}

.active-router-sty ::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  background-color: currentcolor;
  color: rgb(7, 141, 238);
}